@page
@model MyApp.Namespace.AdditionModel
@{
    ViewData["Title"] = "Addition Form";
}

<div style="text-align:center">

    <h1>Addition Form</h1><br>

    <button id="toggleButton" class="btn btn-primary">Hide/Show Element</button> <br><br>
    <div id="content" style="display:none">
        <h3>This is the hidden line.</h3>
    </div>
    <br>

    <button class="btn btn-primary" id="toggleButton2">Hide/Show Form</button><br><br>
    <div id="content2" style="display:none">
        <form>
            <label for="num1">Enter first number:</label><br>
            <input class="form-control" type="text" id="num1" name="num1" placeholder="First Number">
            <br>
            <label for="num2">Enter second number:</label><br>
            <input class="form-control" type="text" id="num2" name="num2" placeholder="First Number">
            <br>
            <button type="button" class="btn btn-primary" id="calculateButton">Calculate Sum</button>
        </form><br>
        <h6 id="result"></h6>
    </div>
</div>

<script src="~/js/addition.js"></script>
</body>
