@page
@model lab11.Pages.EditReservationModel
@{
    ViewData["Title"] = "Edit Reservation";
}

<div class="container">
    <h1 class="mt-5">Edit Reservation</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="mt-4">
                <div class="mb-3">
                    <label for="RoomId" class="form-label">Room</label>
                    @Html.DropDownListFor(m => m.Reservation.RoomId, new SelectList(Model.Rooms, "Id", "RoomName"),
                             "Select a room", new { @class = "form-control" })
                </div>
                <div class="mb-3">
                    <label for="ReservationDateTime" class="form-label">Reservation Date & Time</label>
                    <input type="datetime-local" class="form-control" id="ReservationDateTime"
                        name="ReservationDateTime" asp-for="Reservation.ReservationDateTime">
                </div>
                <button type="submit" class="btn btn-primary">Update Reservation</button>
            </form>
        </div>
    </div>
</div>
